# Env
.env
.env.local
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
.next/
out/
npm-debug.log*
*.tsbuildinfo

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
db/data/
*.pdf
!frontend/public/**/*.pdf
